@import url(https://fonts.googleapis.com/css?family=Nunito);/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */

/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/

html {
  color: #000;
  background: #FFF;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/

/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/

input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */

legend {
  color: #000;
}

/* YUI CSS Detection Stamp */

#yui3-css-stamp.cssreset {
  display: none;
}

body {
  width: 100%;
  background: #fff;
}

.grid__header {
  height: 30px;
  text-align: center;
  color: #fff;
  background: #b1afaf;
  padding-top: 7px;
  margin-bottom: 20px;
}

.grid__main {
  width: 83%;
  margin: 0 auto;
  line-height: 1.3rem;
}

.grid__main .grid__main--photo_menu section {
  height: 100%;
  text-align: center;
  padding: 15px;
  background: #b1afaf;
  margin-bottom: 20px;
}

.grid__main .grid__main--photo_menu section img {
  width: 300px;
  max-width: 100%;
}

.grid__main .grid__article section {
  padding-bottom: 1rem;
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;
}

.grid__fooder {
  width: 100%;
  color: #fff;
  text-align: center;
  background: #000;
}

